body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #bebebe;
}

div #root {
  margin-left: auto;
  margin-right: auto;
  border: 2em solid #000;
}

div .mainContent {
  border-style: double;
  color: #000;
  text-align: center;
  border-radius: 1em;
}

.viewSelectors {
  text-align: center;
}

form {
  border-style: solid;
  border-color: #000;
  border-width: 1px;
  text-align: center;
  width: auto;
  margin-bottom: .25em;
}
input, text {
  margin: .5em;
}

li {
  list-style-type: none;
  text-align: left;
  vertical-align: bottom;
}

 .textListBox {
  padding-left: 0px;
  margin-top: 1em;
}

.mixedGroup {
  display: inline-block;
  vertical-align: bottom;
}

button {
  min-width: 20%;
  padding: 1em;
  margin: 1em;
}

h1 {
  text-align: center;
}
h4 {
  margin: .25em;
  padding: .25em;
}
img {
  max-width: 100%;
  max-height: 100%;
}
